.sub-div{
    width: 106%;
    height: 20%;
    justify-content: center;
}
.div-1{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.logo > img{
    height:8% ;
    width:10% ;
}
h1{
    text-align: center;  
    
}
table td tr{
    text-align: left;
}
